<h1>Add a Collaborator To Your Private Wiki</h1>
<div class="col-md-8">
	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Add/Delete Collaborator</th>
			</tr>
		</thead>
		<tbody>	
			<div class="field">
			<% @user.each do |user| %>
	
			    <div class="user">
			    	<tr>
			    		<% if  @wiki.user != user %>
				    		<td><%= user.email %></td>

				    		<td id="<%= dom_id(user) %>">
				    		<% if @wiki.users.include? user %>
				    		<%= button_to "Remove Collaborator", wiki_collaborator_path(@wiki, @wiki.collaborator_for(user)), method: :delete%>
				    		<% else %>
				    		<%= button_to "Add Collaborator", wiki_collaborators_path(@wiki, user_id: user.id), method: :post%>
				    		<% end %>
				    	<% end %>
			    		</td>
			    	</tr>
			    </div>
			</div> 
			<% end %>
		</tbody>
	</table> 
</div>