<div class="container">
  <h1 class="text-center">All Wikis</h1>
    <div class="col-md-12 text-center">
        <%= link_to "Create A New Wiki", new_wiki_path %>
    </div>
</div>
</br>
  <table class="table">
  <% @wikis.each do |wiki| %>
  <tbody>
    <tr>
      <td>
      <%= link_to wiki.title, wiki %>
      <% if wiki.private == false %>
        <button type="button" >Public Wiki</button>
      <% else %>
        <button type="button">Private Wiki</button>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>


